
@{
    ViewData["Title"] = "Exercise";
    Layout = "_LayoutLatihan";
}

<link rel="stylesheet" href="~/css/site.css" />
<div class="container">
    <div class="row">
        <div class="col-sm">
            <h2 id="deskripsi" style="color: black">Ikan Paus</h2>
            <img  class="border border-primary" id="image-1" src="/Gambar/paus.jpg" width="500" height="250" alt="IKAN PAUS" />
            <br /><br />
                  <p  class="tulisanBesar" id="mamalia-1">
                      Paus atau lodan (khusus yang bergigi dan bukan berukuran kecil) adalah kelompok mamalia yang hidup di lautan.
                      Ikan ini sangat besar. Paus bukan tergolong dalam keluarga ikan. Dalam buku "Lumba-lumba dan Paus" oleh Cordula Thorner, Paus dijelaskan memiliki sebuah sirip ekor, sebuah sirip punggung, dan sirip dada. Selain itu, mereka memiliki lubang sembur di atas kepalanya.

                      Sama halnya dengan mamalia lain, Paus juga menjaga suhu tubuhnya.
                  </p>
            <div class="group">
                <button onclick="myFunctionPaus()" id="button-id" class="button-class">Klik untuk melihat makanan</button>
            </div>
        </div>
        <div class="col-sm ">
            <h2 id="deskripsi" style="color: black">Gajah</h2>
            <img class="border border-primary" id="image-2" src="/Gambar/gajah.jpg" width="500" height="250" alt="IKAN PAUS" />
            <br /><br />
            <p class="tulisanBesar" id="mamalia-2">
                Gajah adalah mamalia besar dari famili Elephantidae dan ordo Proboscidea. Secara tradisional, terdapat dua spesies yang diakui, yaitu gajah afrika (Loxodonta africana) dan gajah asia (Elephas maximus), walaupun beberapa bukti menunjukkan bahwa gajah semak afrika dan gajah hutan afrika merupakan spesies yang berbeda (L. africana dan L. cyclotis). Gajah tersebar di seluruh Afrika sub-Sahara, Asia Selatan, dan Asia Tenggara. Elephantidae adalah satu-satunya famili dari ordo Proboscidea yang masih ada; famili lain yang kini sudah punah termasuk mamut dan mastodon.
                Gajah afrika jantan merupakan hewan darat terbesar dengan tinggi hingga 4 m dan massa yang juga dapat mencapai 7.000 kg.
            </p>
            <div class="group">
                <button onclick="myFunctionGajah()" id="button-id" class="button-class">Klik untuk melihat makanan</button>
            </div>
        </div>
        <div class="col-sm">
            <h2 id="deskripsi" style="color: black">Kelelawar</h2>
            <img  class="border border-primary" id="image-3" src="/Gambar/kelelawar.jpg" width="500" height="250" alt="IKAN PAUS" />
            <br /><br />
                  <p class="tulisanBesar" id="mamalia-3">
                      Kelelawar adalah satu-satunya mamalia yang dapat terbang, dan berasal dari ordo Chiroptera dengan kedua kaki depan yang berkembang menjadi sayap
                      Kelelawar (Chiroptera) merupakan salah satu kelas Mamalia yang memiliki sayap di kedua sisi kanan dan kiri tubuhnya;
                      memiliki kemampuan terbang sempurna bahkan dapat melakukan hovering atau dapat terbang ditempat dan terbang mundur.
                      Mereka juga tidak dapat berdiri dengan baik. Jadi kelelawar perlu bertengger, cara termudah baginya adalah bergantung, dangan kepala di bawah. 
                      Kelelawar melakukan banyak hal yang sangat luar biasa.
                  </p>
            <div class="group">
                <button onclick="myFunctionKelelawar()" id="button-id" class="button-class">Klik untuk melihat makanan</button>
            </div>
        </div>
        <div class="col-sm">
            <h2 id="deskripsi" style="color: black">Primata</h2>
            <img  class="border border-primary" id="image-4" src="/Gambar/primata.jpg" width="500" height="250" alt="IKAN PAUS" />
            <br /><br />
                  <p class="tulisanBesar" id="mamalia-4">Primata (dari bahasa Latin primat-, dari primus, 'terbaik, urutan pertama') adalah mamalia yang menjadi anggota ordo Primates. Primata pertama kali muncul 85–55 juta tahun yang lalu dari mamalia darat bertubuh kecil yang beradaptasi untuk hidup di pepohonan hutan tropis. Banyak karakteristik primata yang merupakan adaptasi terhadap kehidupan di lingkungan yang menantang ini, di antaranya otak yang besar, ketajaman visual, penglihatan warna, tulang-tulang gelang bahu yang memungkinkan banyak gerakan pada sendi bahu, serta tangan yang cekatan. Primata terpisah menjadi dua subordo, yaitu Strepsirrhini (mencakup lemur dan loris) dan Haplorhini (mencakup monyet, kera, dan manusia). 
                    Ilmu yang mempelajari primata disebut primatologi.</p>
            <div class="group">
                <button onclick="myFunctionPrimata()" id="button-id" class="button-class">Klik untuk melihat makanan</button>
            </div>
        </div>
    </div>
</div>

